/*
This request has been blacklisted for sending too much traffic to rawgit.com.

Do not use rawgit.com URLs in production. That domain is for testing and
development only, and excessive traffic will result in blacklisting.

Only use cdn.rawgit.com in production. It has no traffic limits.

For details, see http://rawgit.com/faq
*/

html > body:before {
  background: #ff0000 !important;
  background: rgba(255, 0, 0, 0.8) !important;
  border: 5px solid #333 !important;
  border-left: none !important;
  border-right: none !important;
  content: 'This site or app is sending too much traffic to rawgit.com. Please contact its owner and ask them to use cdn.rawgit.com instead, which has no traffic limit.' !important;
  color: #fff !important;
  font: bold 26px/1.4 Helvetica, sans-serif !important;
  left: 0 !important;
  padding: 1em !important;
  position: fixed !important;
  right: 0 !important;
  top: 30% !important;
  z-index: 9999 !important;
}
