html {
  background: #fff;
  color: #333;
}

html, button, input, select, textarea {
  font: 16px/1.5 'Open Sans', Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

code, pre {
  color: #444;
  font-family: 'Source Code Pro', 'Droid Sans Mono', 'DejaVu Sans Mono', Menlo, monospace;
}

code {
  background: #f8f8f8;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  padding: 0 4px 1px;
}

pre { overflow-x: auto; }

.offscreen {
  left: -9999px;
  position: absolute;
}

/* -- Header ---------------------------------------------------------------- */
.hd {
  background: #fff;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.hd .logo {
  height: 32px;
  margin: 0 0.2em 0 0.4em;
  position: relative;
  top: 4px;
  width: 56px;
}

.hd .nav ul {
  margin: 0;
  padding: 0;
}

.hd .nav li {
  display: inline-block;
  line-height: 48px;
  margin: 0 0.6em;
}

.hd .nav a {
  color: #555;
  padding: 5px 8px;
  text-decoration: none;
}

.hd .nav a:hover {
  background: #efefef;
}

.hd .title {
  color: #333;
  font-size: 2em;
  line-height: 48px;
  margin: 0;
  white-space: nowrap;
}

.hd .title a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 767px) {
  .hd {
    flex-direction: column;
  }

  .hd .logo {
    height: 24px;
    width: auto;
  }

  .hd .nav,
  .hd .title {
    text-align: center;
  }

  .hd .nav li {
    margin-right: 0.3em;
  }

  .hd .nav a {
    padding: 0;
  }

  .hd .title {
    font-size: 1.4em;
  }
}

/* -- Content --------------------------------------------------------------- */
.bd,
.ft {
  padding: 0 30px;
}

.bd {
  margin: 0 auto;
  max-width: 1440px;
}

.hero {
  font-size: 2.5em;
  line-height: 1.3;
  padding: 0 3em;
  text-align: center;
}

.url {
  background: #fbfbfb;
  border: 1px solid #dfdfdf;
  cursor: text;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
  width: 100%;
}

.url-container {
  display: flex;
}

.url-copy-button {
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  display: none;
}

.url-copy-button:hover {
  background: #f5f5f5;
  border-color: #efefef;
}

.url-copy-button:active {
  background: #badeff;
  border-color: #8cc3f6;
}

.url-copy-button:disabled {
  background: none;
  border-color: transparent;
  cursor: not-allowed;
}

.url-copy-button:disabled img {
  opacity: 0.3;
}

.url-copy-button img {
  display: block;
}

.url-helper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3em;
}

.url-helper .column {
  flex: 1;
  padding: 0 1.5em;
}

.url-helper h2 { text-align: center; }

.url-paste {
  flex: 2 100%;
}

#url-form {
  text-align: center;
}

#url {
  font-size: 1.3em;
  width: 80%;
}

@media (max-width: 975px) {
  .bd,
  .ft,
  .url-helper .column {
    padding: 0 1em;
  }

  .hero { font-size: 1.6em; }
  .url-helper { padding: 0 1em; }
  .url-helper h2 { font-size: 1.4em; }
  #url { font-size: 1em; }
}

@media (max-width: 767px) {
  .hero {
    font-size: 1.4em;
    text-align: left;
  }

  .hero,
  .url,
  .url-helper,
  .url-helper .column,
  #url-form { padding: 0; }

  .url,
  #url { font-size: 0.9em; }

  #url { width: 100%; }

  .url-helper {
    display: block;
  }

  .url-helper h2 {
    font-size: 1.2em;
    margin: 1.5em 0 0.8em;
    text-align: left;
  }

  .url-helper ul {
    padding-left: 1.5em;
  }
}

/* -- News ------------------------------------------------------------------ */
.news {
  margin: 2em auto;
  max-width: 720px;
}

.news h2 {
  font-size: 1.8em;
  margin-bottom: 0;
  text-align: center;
}

.news h3 {
  margin: 1.9em 0 1.3em;
}

.news .date {
  color: #888;
  display: block;
  font-size: 12px;
  text-align: center;
}

.news-body {
  margin: 2em 0;
}

/* -- Misc ------------------------------------------------------------------ */
.announcement {
  background: #fdf3d1;
  border: 1px solid #fceec0;
  border-radius: 5px;
  padding: 4px;
  text-align: center;
}

.invalid {
  background: #FFF7F7;
  border-color: #FFCCCC;
}

.valid {
  background: #F2FFEB;
  border-color: #98f9a0;
}

/* -- Footer ---------------------------------------------------------------- */
.ft {
  border-top: 1px solid #efefef;
  color: #888;
  font-size: 0.8em;
  margin: 3em 0 0;
}

.ft a {
  color: inherit;
  text-decoration: underline;
}
