option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: GzipCompression
    value: true

  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 0.10.10

  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx

files:
  "/etc/nginx/conf.d/rawgithub.conf":
    content: |
      gzip on;
      gzip_comp_level 6;
      gzip_proxied any;
      gzip_vary on;

      # Mime types to gzip in addition to text/html.
      gzip_types      application/javascript application/json
                      application/x-javascript application/xml+atom
                      application/xml+rss text/css text/javascript text/json
                      text/plain text/xml;

      ssl_session_cache shared:SSL:5m;
      ssl_session_timeout 5m;
      ssl_protocols TLSv1.2 TLSv1.1 TLSv1 SSLv3;
      ssl_ciphers ECDHE-RSA-AES128-SHA256:AES128-GCM-SHA256:RC4:HIGH:!MD5:!aNULL:!EDH;
      #ssl_ciphers AES128-GCM-SHA256:ECDHE-RSA-AES128-SHA256:RC4:HIGH:!MD5:!aNULL:!EDH;
      ssl_prefer_server_ciphers on;

      limit_req_zone $uri zone=rawgithub-uri:10m rate=1r/s;
      limit_req zone=rawgithub-uri burst=10;

      if_modified_since before;

      proxy_cache_path /var/cache/nginx keys_zone=rawgithub:20m inactive=60m max_size=200m;

      proxy_cache rawgithub;
      proxy_cache_key $scheme$proxy_host$request_uri;
      proxy_cache_use_stale updating;
      proxy_cache_valid 200 302 1m;
      proxy_cache_valid 301 1h;
      proxy_cache_valid 404 5m;

      proxy_pass_request_body off;

      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

      add_header X-Cache-Status $upstream_cache_status;

      # Redirect www.rawgithub.com to rawgithub.com.
      server {
          listen 80;
          listen 443 ssl;
          server_name www.rawgithub.com;

          rewrite ^ $scheme://rawgithub.com$request_uri? permanent;
      }
