<section class="news">
  <h2>RawGit has reached the end of its useful life</h2>
  <time class="date" datetime="2018-10-08">October 8, 2018</time>

  <div class="news-body">
    <p>RawGit is now in a sunset phase and will soon shut down. It's been a fun five years, but all things must end.</p>

    <p>GitHub repositories that served content through RawGit within the last month will continue to be served until at least October of 2019. URLs for other repositories are no longer being served.</p>

    <p>If you're currently using RawGit, please stop using it as soon as you can.</p>

    <h3>What you should use instead</h3>

    <p>The following free services offer fantastic alternatives to some or all of RawGit's functionality. You may like them even more than RawGit.</p>

    <ul>
      <li><a href="https://www.jsdelivr.com/rawgit">jsDelivr</a></li>
      <li><a href="https://pages.github.com/">GitHub Pages</a></li>
      <li><a href="https://codesandbox.io/">CodeSandbox</a></li>
      <li><a href="https://unpkg.com/">unpkg</a></li>
    </ul>

    <h3>Why this is happening</h3>

    <p>RawGit has always been a small hobby project. I've never been able to spend more than a handful of minutes a week on it, but it achieved a degree of popularity I could never have imagined.</p>

    <p>Last month alone RawGit served over 4.2 billion requests and consumed more than 176 terabytes of bandwidth. Those numbers are simply unfathomable to me. They're almost too huge to be real.</p>

    <p>Unfortunately, RawGit has also become an attractive distribution mechanism for malware. RawGit was meant to improve people's lives, but jerks are increasingly using it to hurt people.</p>

    <p>Since I have almost no time to devote to fighting malware and abuse on RawGit (and since it would be no fun even if I did have the time), I feel the responsible thing to do is to shut it down. I would rather kill RawGit than watch it be used to hurt people.</p>

    <h3>Thank you!</h3>

    <p>To everyone who has contributed to RawGit over the years, or who has said nice things to me about it, or who has just used it without being a jerk: thank you. I've learned a lot, and I've mostly enjoyed it. I hope you have too.</p>

    <p>&mdash; Ryan Grove (<a href="https://twitter.com/yaypie">@yaypie</a>)</p>
  </div>
</section>
